/*  Content reservation  */
@font-face {
    src: url('../font/open-sans-fontfacekit/opensans_regular_macroman/OpenSans-Regular-webfont.svg');
    src: url('../font/open-sans-fontfacekit/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../font/open-sans-fontfacekit/opensans_regular_macroman/OpenSans-Regular-webfont.ttf');
    src: url('../font/open-sans-fontfacekit/opensans_regular_macroman/OpenSans-Regular-webfont.woff');
    font-family: opensans;
}

*{
    margin: 0 auto;
    padding: 0;
}

html, body {
    height: 100%;
}

article {
    float: left;
    margin-bottom: 1em;
}

article p{
    margin-bottom: 1em;
}

.clear{
    clear: both;
}

#google-maps{
    float:right;
    display: inline-block;
    height: 36%;
    width: 240px!important;
    margin-right: 0!important;
}

#google-maps div {
    margin-left:0!important;
    margin-right:0!important;
}

#google-maps div div{
    width: auto!important;
}

.reservation-warning, .thank-you{
    margin-bottom: 3em;
    font-style: italic;
    display: block;
}

/*  Reservation form  */

.reservation form {
    height: 403px;
    display: inline-block;
    width:100%;
}

/*  Reservation form | Personal info  */

.personal-info, .form-reservation {
    width: 48%;
    margin:0;
    display: block;
}

.personal-info{
    float:left;
}

.personal-info label, .form-reservation label{
    width:100%;
    display: block;
}

.personal-info label, .personal-info input, .personal-info h3,
.form-reservation label, .form-reservation input, .form-reservation h3 {
    margin-bottom: 1em;
}

.personal-info p{
    display:inline-block;
}

.error, .success{
    display: block;
    margin-bottom: 1em;
    padding:0 0.5em;
}

.error{
    background: rgb(255, 208, 208);
    border:1px solid red;

}

.success{
    background: #B3FFA0;
    border: 1px solid green;
}

/*  Reservation form | Reservation  */

.form-reservation{
    float:right;
    padding-left: 3%;
    border-left: 1px solid #747474;
}

/*  Reservation form | Date/Calender  */

.calender{
    display: block;
    text-align: center;
    color: white;
}

input[type="date"] {
    float: left;
}

.month-container{
    display: block;
    background-color: #2a382f;
    width: 100%;
    padding: 5px 0;
}

.month-container span:first-child{
    width: 10%;
    float: left;
}

.month-container span:nth-child(2){
    width:80%;
}

.month-container span:nth-child(3){
    width:10%;
    float:right;
}

.date{
    display:inline-block;
    text-align: center;
    background-color: white;
    border-collapse: collapse;
}

.date tr th, .date tr td{
    border: 1px solid #747474;
    height: 23px;
    width: 22px;
}

/*  Reservation form | Time  */

.time{
    text-align: center;
}

.time tr td{
    border: 1px solid #747474;
    padding: 5px;
}

/* Reservation form | Legend  */

.legend{
    margin-bottom: 1em;
    display: block;
}

.legend ul{
    margin: 0 !important;
}

.legend ul li{
    display: inline-block;
    text-decoration: none;
    margin: 0 6px 6px !important;
    font-size: 10px;
}

.legend-green, .legend-red, .legend-blue{
    height: 15px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.available{
    background-color: #7aee75;
}

.unavailable{
    background-color: #ee7575;
}

.selected{
    background-color: #75c5ee;
}

/*  Reservation form | number of persons  */

.overview {
    width: 100%;
    display: inline-block;
}

select{
    padding: 0.25em;
    border: 1px solid #747474;
}

#persons {
    margin-bottom: 1em;
}

#kids10 {
    display: block;
    margin-bottom: 1em;
    float: left;
}

.overview span ul li {
    list-style: none;
    margin: 0 0 1em!important;
    font-style: normal!important;
}

.overview span ul {
    margin: 0!important;
}

/*  Reservation form | Summary page  */

.button-container{
    margin: 3em 0;
    display: inline-block;
    float: right;
    width: 31%;
}

input {
    padding: 0.2em;
}

input#date{
    float:left;
}

.send-button, .cancel, .confirm-button{
    padding: 10px;
    border: none;
    color: white;
}

.send-button, .confirm-button{
    background-color: #2A382F;
}

.send-button{
    float: right;
}

.cancel{
    background-color: #666;
    float: right;
    margin-right:1em;
}

.month{
    display:inline-block;
    width:20px;
    height:20px;
}

a.prev-month, a.next-month{
    color:white!important;
}

.month:hover{
    cursor: pointer;
}

section.calender-container {
    display: inline-block;
    width: 100%;
    position: relative;
}

/*    Admin panel   */

.container{
    font-family: opensans;
    min-height: 100%;
    width:1250px;
    background: white;
}

.container main{
    width:100%;
    display: inline-block;
    /* min-height: 100%; */
    margin-bottom: 2em;
}

.header-admin{
    width: 100%;
    margin-bottom: 1em;
}

.header-admin img{
    width: 100%;
}

.admin-title-container{
    margin-bottom: 1em;
    display: inline-block;
    width:100%;
}

.admin-title-container h3{
    display: inline-block;
    float:left;
}

.add, .logout{
    vertical-align: top;
    background: #2a382f;
    color: white;
    border: none;
    margin-left: 1em;
}

.add{
    height: 30px;
}

.add, .logout{
    float:right;
}

.add a, .logout{
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5em;
}

.add figure{
    margin: 0;
    display: inline-block;
}

#logout{
    text-align: right;
    margin-bottom: 1em;
}

.reservation-display{
    width: 65%;
    float: left;
}

.summary-reservations{
    float:left;
    width: 100%;
    text-align: center;
}

.summary-reservations tr th, .summary-reservations tr td{
    padding: 0.5em 0;
}

.summary-reservations tbody tr:nth-child(2n+1){
    background-color:rgb(218, 218, 218);
}

.sidebar{
    float:right;
    width:30%;
}

.title{
    display: block;
    background: #2a382f;
    color:white;
    padding: 0.5em 1em;
    font-style: italic;
}

.count-res{
    padding:1em;
    text-align: right;
    display: block;
}

.count-res, .count-res a{
    color: rgb(98,98,98);
}

.reservation-display.full{
    width:100%;
}

.login{
    display: block;
    width: 378px;
}

.login label {
    vertical-align: middle;
    display: table-cell;
    float: left;
}

.login input{
    float: right;
    vertical-align: middle;
    border: 1px solid #C5C5C5;
    padding: 0.5em;
}

.login .send-button{
    width:100%;
}

.loginInputContainer{
    margin-bottom: 1em;
    display: inline-block;
    width: 100%;
}

.login form {
    display: table-cell;
    vertical-align: middle;
}

.count-res h3 {
    margin-bottom: 1em;
}

.count-res a {
    margin-bottom: 1em;
    display: block;
}

.form-reservation .clear {
    width: 100%;
    display: inline-block;
}

.details-container{
    width:96%;
    padding: 2%;
    display: inline-block;
}

.details-container table{
    margin: 0;
}

.details-container table tr td:first-child {
    padding-right: 1em;
}

.details-block{
    width: 48%;
    padding-right: 2%;
    float: left;
}

.details-block.right{
    float:right;
}

.details-title{
    display:block;
    margin-bottom: 0.5em;
}

.details-title p{
    font-weight: bold;
    text-decoration: underline;
    color: #636363;
}

.detail-status figure {
    display: inline-block;
    vertical-align: bottom;
}

.detail-status figure img {
    width: 73%;
    display: table-cell;
    vertical-align: bottom;
}

.detail-status p {
    display: inline-block;
}

.footer{
    color: white;
    background: #2a382f;
    padding: 0.5em 1em;
}

.footer p{
    width: 1250px;
    font-family: opensans;
}

.confirm {
    background: transparent;
    border: 0;
    width: 125px;
    text-align: left;
}

.edit{
    width: 14px;
    height: auto;
    margin-right: 0.5em;
}

.detail-reservation input, .detail-reservation select {
    width: 100%;
    display: block;
}

.container {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -38px;
}
.container:after {
    content: "";
    display: block;
}
.footer, .container:after {
    /* .push must be the same height as footer */
    height: 22px;
}