/*  Content reservation  */
*{
    margin: 0 auto;
    padding: 0;
}

article {
    float: left;
    margin-bottom: 1em;
}

article p{
    margin-bottom: 1em;
}

.google-maps iframe{
    overflow:hidden;
}

.google-maps{
    float:right;
    display: inline-block;
}

.reservation-warning, .thank-you{
    margin-bottom: 3em;
    font-style: italic;
    display: block;
}

/*  Reservation form  */

.reservation form {
    height: 403px;
}

/*  Reservation form | Personal info  */

.personal-info, .form-reservation {
    width: 48%;
    margin:0;
    display: block;
}

.personal-info{
    float:left;
}

.personal-info label, .form-reservation label{
    width:100%;
    display: block;
}

.personal-info label, .personal-info input, .personal-info h3,
.form-reservation label, .form-reservation input, .form-reservation h3 {
    margin-bottom: 1em;
}

.personal-info p{
    display:inline-block;
}

/*.personal-info input:last-child{*/
/*width:20%;*/
/*}*/

/*  Reservation form | Reservation  */

.form-reservation{
    float:right;
    padding-left: 3%;
    border-left: 1px solid #747474;
}

/*  Reservation form | Date/Calender  */

.calender{
    display: block;
    text-align: center;
    color: white;
}

input[type="date"] {
    float: left;
}

.month-container{
    display: block;
    background-color: #2a382f;
    width: 100%;
    padding: 5px 0;
}

.month-container span:first-child{
    width: 10%;
    float: left;
}

.month-container span:nth-child(2){
    width:80%;
}

.month-container span:nth-child(3){
    width:10%;
    float:right;
}

.date{
    display:inline-block;
    text-align: center;
    background-color: white;
    border-collapse: collapse;
}

.date tr th, .date tr td{
    border: 1px solid #747474;
    height: 23px;
    width: 22px;
}

/*  Reservation form | Time  */

.time{
    text-align: center;
}

.time tr td{
    border: 1px solid #747474;
    padding: 5px;
}

/* Reservation form | Legend  */

.legend{
    margin-bottom: 1em;
    display: block;
}

.legend ul{
    margin: 0 !important;
}

.legend ul li{
    display: inline-block;
    text-decoration: none;
    margin: 0 6px 6px !important;
    font-size: 10px;
}

.legend-green, .legend-red, .legend-blue{
    height: 15px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.available{
    background-color: #7aee75;
}

.unavailable{
    background-color: #ee7575;
}

.selected{
    background-color: #75c5ee;
}

/*  Reservation form | number of persons  */

.overview {
    width: 100%;
    display: inline-block;
}

select{
    padding: 0.25em;
    border: 1px solid #747474;
}

#persons {
    margin-bottom: 1em;
}

#kids10 {
    display: block;
    margin-bottom: 1em;
    float: left;
}

.overview span ul li {
    list-style: none;
    margin: 0 0 1em!important;
    font-style: normal!important;
}

.overview span ul {
    margin: 0!important;
}

/*  Reservation form | Summary page  */

.button-container{
    margin: 3em 0;
    display: inline-block;
    float: right;
    width: 31%;
}

input {
    padding: 0.2em;
}

input#date{
    float:left;
}

.send-button, .cancel{
    padding: 10px;
    border: none;
    color: white;
}

.send-button{
    background-color: #2A382F;
    float: right;
}

.cancel{
    background-color: #666;
    float: left;
}

.month{
    display:inline-block;
    width:20px;
    height:20px;
}

a.prev-month, a.next-month{
    color:white!important;
}

.month:hover{
    cursor: pointer;
}

section.calender-container {
    display: inline-block;
    width: 100%;
    position: relative;
}

/*    Admin panel   */

.container{
    height: auto;
    height: 100%;
    min-height: 100%;
    width:1250px;
    background: white;
}

.container main{
    width:100%;
    display: inline-block;
}

.header-admin{
    width: 100%;
    margin-bottom: 1em;
}

.header-admin img{
    width: 100%;
}

.reservation-display h3{
    display: inline-block;
    float:left;
    margin-bottom: 0.5em;
}

.add{
    float:right;
    vertical-align: top;
    padding:0.5em;
    background: #2a382f;
    color: white;
    border: none;
}

.reservation-display{
    width: 65%;
    float: left;
}

.summary-reservations{
    float:left;
    width: 100%;
    text-align: center;
}

.summary-reservations tr th, .summary-reservations tr td{
    padding: 0.5em 0;
}

.summary-reservations tbody tr:nth-child(2n+1){
    background-color:rgb(218, 218, 218);
}

.sidebar{
    float:right;
    width:30%;
}


